@(page: com.tantalim.models.PageSection, depth: Int)

@for(field <- page.fields) {
    @if(field.showInFormView) {
        <div class="form-group" ng-class="{'has-error': TopPageForm.@(field.name).$invalid}">
            @if(field.fieldType == "text") {
                <tnt-textbox label="@field.label"
                    current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    name="@field.modelField.name" placeholder="@field.placeholder" help="@field.help"
                    disabled="@field.disabled"
                    @if(field.required) { required="true" }
                >
                    @if(field.links.nonEmpty) {
                        <div class="dropdown tnt-links">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"></li>
                                @for(link <- field.links) {
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                        data-ng-click="link('@link.page.name', '@link.filter', '@(page.name)')">
                                        <i class="fa fa-link fa-rotate-90"></i>
                                        @link.page.title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </tnt-textbox>
            }
            @if(field.fieldType == "select") {
                @defining(field.select.get) { select =>
                    <tnt-select
                    label="@field.label"
                    current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    source-model="@select.model"
                    source-field="@select.sourceField"
                    source-filter="@select.filter"
                    target-id="@select.targetID.getOrElse("")"
                    target-field="@(field.name)"
                    other-mappings="@Html(select.fields.toString())"
                    ></tnt-select>
                }
            }
            @if(field.fieldType == "checkbox") {
                <tnt-checkbox label="@field.label" current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    required="@(field.required)" target-field="@(field.name)"></tnt-checkbox>
            }
        </div>
    }
}
