@(page: com.tantalim.models.PageSection)

@for(field <- page.fields) {
    @if(field.showInFormView) {
        <div class="form-group" ng-class="{'has-error': TopPageForm.@(field.name).$invalid}">
            {{
                row = current.instances.@(page.model.name);
                data = row.data;
                ""
            }}
            @if(field.fieldType == "text") {
                <label class="control-label" for="@(page.model.name)-@(field.name)">@field.label</label>
                <input type="text" class="form-control" id="@(page.model.name)-@(field.name)" name="@(field.name)"
                data-ng-model="data.@(field.name)"
                ng-change="row.update('@(field.name)')"
                @if(field.blurFunction.isDefined) {
                    ng-blur="@Html(field.blurFunction.get)"
                }
                @if(field.placeholder.isDefined) {
                    placeholder="@field.placeholder.get"
                }
                @if(field.required) {
                    ng-required="row"
                }
                ng-disabled="row.state !== 'INSERTED' && @if(field.modelField.updateable){false}else{true}"
                @if(field.help.isDefined) {
                    aria-describedby="help-@(page.model.name)-@(field.name)"
                }
                >
                @for(link <- field.links) {
                    <i class="fa fa-link fa-rotate-90" data-ng-click=""></i>
                    <a href="" data-ng-click="link('@link.page.name', '@link.filter', '@page.model.name')">@link.page.title</a>
                }
                @if(field.help.isDefined) {
                    <span id="help-@(page.model.name)-@(field.name)" class="help-block">@Html(field.help.get)</span>
                }
            }
            @if(field.fieldType == "select") {
                <label class="control-label" for="@(page.model.name)-@field.name">@field.label</label>
                @defining(field.select.get) { select =>
                    <ui-select
                    current="data"
                    source-model="@select.model"
                    source-field="@select.sourceField"
                    source-filter="@select.filter"
                    target-model="@page.model.name"
                    target-id="@select.targetID.getOrElse("")"
                    target-field="@(field.name)"
                    other-mappings="@Html(select.fields.toString())"
                    ></ui-select>
                }
            }
            @if(field.fieldType == "checkbox") {
                <div class="checkbox">
                    <label class="control-label" class="ui-checkbox" for="@(page.model.name)-@(field.name)" data-ng-click="row.toggle('@(field.name)', @(field.required))">
                        <i data-ng-show="data.@(field.name) === true" class="fa fa-check-square-o fa-lg fa-fw"></i>
                        <i data-ng-show="data.@(field.name) === false" class="fa fa-square-o fa-lg fa-fw"></i>
                        <i data-ng-show="data.@(field.name) === undefined || data.@(field.name) === null" class="fa fa-square-o fa-lg fa-fw disabled"></i>
                        @field.label
                    </label>
                </div>
            }
        </div>
    }
}
