@(page: com.tantalim.models.PageSection, depth: Int)

@for(field <- page.fields) {
    @if(field.showInFormView) {
        <div class="form-group" ng-class="{'has-error': TopPageForm.@(field.name).$invalid}">
            @if(field.fieldType == "text") {
                <tnt-textbox label="@field.label"
                    current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    name="@field.modelField.name" placeholder="@field.placeholder" help="@field.help"
                    @if(field.required) { required="true" }
                >
                    @for(link <- field.links) {
                        <zoom target="@link.page.name">@link.page.title</zoom>
                    }
                </tnt-textbox>
            }
            @if(field.fieldType == "select") {
                @defining(field.select.get) { select =>
                    <tnt-select
                    label="@field.label"
                    current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    source-model="@select.model"
                    source-field="@select.sourceField"
                    source-filter="@select.filter"
                    target-id="@select.targetID.getOrElse("")"
                    target-field="@(field.name)"
                    other-mappings="@Html(select.fields.toString())"
                    ></tnt-select>
                }
            }
            @if(field.fieldType == "checkbox") {
                <tnt-checkbox label="@field.label" current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    required="@(field.required)" target-field="@(field.name)"></tnt-checkbox>
            }
        </div>
    }
}
