@(page: com.tantalim.models.PageSection)

<div class="table-responsive">
    <table class="tnt-grid table table-bordered">
        <thead>
            <tr>
                <th class="tnt-grid-corner"></th>
            @for(field <- page.fields) {
                @if(field.showInTableView) {
                    <th class="text-center" width="@{field.tableWidth}%">@field.label</th>
                }
            }
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="row in current.sets.@(page.model.name).rows">
                <td class="tnt-grid-left-nav" data-ng-bind="$index + 1"></td>
            @for(field <- page.fields) {
                @if(field.showInTableView) {
                    <td class="text-display @if(field.alignCenter){text-center} @if(field.alignRight){text-right}"
                        data-ng-class="{success: action.cellIsSelected('@page.model.name', $index, '@field.name')}"
                        data-ng-mousedown="action.mousedown('@page.model.name', $index, '@field.name')"
                        data-ng-mouseover="action.mouseover('@page.model.name', $index, '@field.name')"
                        data-ng-mouseup="action.mouseup('@page.model.name', $index, '@field.name')"
                        @if(field.fieldType != "checkbox") {
                            data-ng-dblclick="action.dblclick('@page.model.name', $index, '@field.name')"
                        }
                    >
                        @if(field.fieldType == "checkbox") {
                            <i class="fa fa-check-square-o fa-lg"
                                data-ng-show="row.data.@field.name === true"
                                data-ng-click="row.toggle('@(field.name)', @(field.required))"></i>
                            <i class="fa fa-square-o fa-lg"
                                data-ng-show="row.data.@field.name === false"
                                data-ng-click="row.toggle('@(field.name)', @(field.required))"></i>
                            <i class="fa fa-square-o fa-lg disabled"
                                data-ng-show="row.data.@field.name === undefined || row.data.@field.name === null"
                                data-ng-click="row.toggle('@(field.name)', @(field.required))"></i>
                        } else {
                            <span class="text-view" data-ng-bind="row.data.@field.name @if(field.filter.isDefined){ | @field.filter}"></span>
                            <input type="text" class="text-edit" data-ng-model="row.data.@field.name"
                            data-ng-show="action.cellIsEditing('@page.model.name', $index, '@field.name')"
                            data-ng-change="row.update('@(field.name)')"
                            focus-me="action.focus('@page.model.name', $index, '@field.name')">
                        }
                    </td>
                }
            }
                <td></td>
            </tr>
            <tr data-ng-hide="current.sets.@(page.model.name).rows.length">
                <td colspan="@page.fieldLengthInTableView">No Data Found</td>
            </tr>
        </tbody>
    </table>
</div>
