@(page: com.tantalim.models.PageSection, depth: Int)

<div id="@page.name" class="childSection">
    @if(depth == 0) {
        <nav data-ng-show="SmartPage.maxPages > 1">
            <ul class="nav navbar-nav navbar-right" style="margin-right: auto">
                <button type="button" class="btn btn-xs"
                data-ng-click="SmartPage.previousPage()"
                data-ng-disabled="SmartPage.page() <= 1 || TopPageForm.$invalid">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Previous Page
                </button>
                <button type="button" class="btn btn-xs"
                data-ng-click="SmartPage.nextPage()"
                data-ng-disabled="SmartPage.page() >= SmartPage.maxPages || TopPageForm.$invalid">
                    Next Page
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                <span class="instance-count">
                    Page <span data-ng-bind="SmartPage.page()"></span>
                    of <span data-ng-bind="SmartPage.maxPages"></span>
                </span>
            </ul>
        </nav>
    } else {
        <span class="icon-indent glyphicon glyphicon-triangle-right" aria-hidden="true"
        data-ng-click="hide@page.name = true" data-ng-hide="hide@page.name"></span>
        <span class="icon-indent glyphicon glyphicon-triangle-bottom" aria-hidden="true"
        data-ng-click="hide@page.name = false" data-ng-show="hide@page.name"></span>
        <h2>@page.title</h2>
    }
    <div data-ng-hide="hide@page.name || SmartPage.getSection('@(page.name)', @depth).getCurrentSet().rows.length">
        @if(page.model.parentLink.isEmpty) {
            <div class="text-center">
                <div class="alert alert-warning col-sm-6 col-sm-offset-3" role="alert">
                    <span data-ng-show="filterString">
                        <p><strong>No Records Found Using Filter:</strong> {{filterString}}</p>
                        <hr>
                        <button data-ng-click="SmartPage.turnSearchOn()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                            Search Again
                        </button>
                    </span>
                    <span data-ng-hide="filterString">
                        <p><strong>No Records Exist</strong></p>
                        @if(page.model.allowInsert) {
                            <hr>
                            <button type="button" class="btn btn-primary btn-sm" data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().insert()">
                                <span class="glyphicon glyphicon-plus"></span>
                                Insert New @page.title
                            </button>
                        }
                    </span>
                </div>
            </div>
        } else {
            @if(page.model.allowInsert) {
                <button type="button" class="btn btn-primary btn-sm" data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().insert()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Insert New @page.title
                </button>
            }
        }
    </div>
    <div data-ng-show="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().rows.length">
        <div data-ng-hide="hide@page.name">
            <div class="form-group" data-ng-show="SmartPage.getSection('@(page.name)', @depth).viewMode === 'table'">
                @if(page.model.allowInsert) {
                    <button type="button" class="btn btn-primary btn-xs"
                    data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().insert()"
                    data-ng-disabled="TopPageForm.$invalid">
                        <span class="glyphicon glyphicon-plus"></span>
                        Insert
                    </button>
                }
                @if(page.model.allowDelete) {
                    <button type="button" class="btn btn-danger btn-xs"
                    data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().delete()"
                    data-ng-enabled="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().deleteEnabled()">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                }
                @if(page.hasFormView) {
                    <button type="button" class="btn btn-default btn-xs" data-ng-click="SmartPage.getSection('@(page.name)', @depth).toggleViewMode()"
                    data-ng-show="SmartPage.getSection('@(page.name)', @depth).viewMode !== 'form'">
                        <span class="glyphicon glyphicon-file"></span>
                        Form View
                    </button>
                }
            </div>
            <div class="form-group" data-ng-show="SmartPage.getSection('@(page.name)', @depth).viewMode === 'form'">
                @if(page.model.allowInsert) {
                    <button type="button" class="btn btn-primary btn-xs"
                    data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().insert()"
                    data-ng-disabled="TopPageForm.$invalid">
                        <span class="glyphicon glyphicon-plus"></span>
                        Insert
                    </button>
                }
                @if(page.model.allowDelete) {
                    <button type="button" class="btn btn-danger btn-xs"
                    data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().delete()"
                    data-ng-enabled="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().deleteEnabled()">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                }
                @if(page.hasTableView) {
                    <button type="button" class="btn btn-default btn-xs" data-ng-click="SmartPage.getSection('@(page.name)', @depth).toggleViewMode()"
                    data-ng-show="SmartPage.getSection('@(page.name)', @depth).viewMode !== 'table'">
                        <span class="glyphicon glyphicon-th"></span>
                        Table View
                    </button>
                }
            <button type="button" class="btn btn-xs"
            data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().movePrevious()"
            data-ng-disabled="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().selectedRows.start == 0 || TopPageForm.$invalid">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Previous
            </button>
            <button type="button" class="btn btn-xs"
            data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().moveNext()"
            data-ng-disabled="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().selectedRows.start == SmartPage.getSection('@(page.name)', @depth).getCurrentSet().rows.length - 1 || TopPageForm.$invalid">
                Next
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <span class="instance-count" data-ng-show="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().rows.length > 0">
                <span data-ng-bind="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().selectedRows.start + 1"></span> of <span
            data-ng-bind="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().rows.length"></span>
            </span>
            </div>

            <div class="" data-ng-if="SmartPage.getSection('@(page.name)', @depth).viewMode === 'table'" data-ng-click="SmartPage.focus(SmartPage.getSection('@(page.name)', @depth))">
                @desktop.page.grid_view(page, depth)
            </div>

            <div class="row" data-ng-if="SmartPage.getSection('@(page.name)', @depth).viewMode === 'form'" data-ng-click="SmartPage.focus(SmartPage.getSection('@(page.name)', @depth))">
            @if(page.hasNavigation) {
                <div class="col-sm-3 hidden-xs">
                    <table class="tnt-grid table table-bordered col-sm-4">
                        <thead>
                            <tr>
                            @for(field <- page.fields) {
                                @if(field.showInNavigation) {
                                    <th>@field.label</th>
                                }
                            }
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="row in SmartPage.getSection('@(page.name)', @depth).getCurrentSet().rows"
                            data-ng-click="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().moveTo($index)"
                            data-ng-class="{success: row.id === SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance().id}">
                            @for(field <- page.fields) {
                                @if(field.showInNavigation) {
                                    <td data-ng-bind="row.data.@(field.name) @if(field.filter.isDefined){ | @field.filter}" class="nav"/>
                                }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-9">
                @desktop.page.form_view(page, depth)
                </div>
            } else {
                <div class="col-xs-12">
                @desktop.page.form_view(page, depth)
                </div>
            }

            </div>
        </div>

        @for(childPage <- page.sections) {
            @desktop.page.page_view(childPage, depth + 1)
        }
    </div>
</div>