@(page: Page, depth: Int)
@import models.Page
<div id="@page.name" class="childSection">
    @if(depth > 0) {
        <span class="icon-indent glyphicon glyphicon-triangle-right" aria-hidden="true"
        data-ng-click="hide@page.name = true" data-ng-hide="hide@page.name"></span>
        <span class="icon-indent glyphicon glyphicon-triangle-bottom" aria-hidden="true"
        data-ng-click="hide@page.name = false" data-ng-show="hide@page.name"></span>
        <h2>@page.title</h2>
    } else {
        <h1>@page.title</h1>
        <hr>
        <span class="icon-indent glyphicon glyphicon-triangle-right" aria-hidden="true"
        data-ng-click="hide@page.name = true" data-ng-hide="hide@page.name"></span>
        <span class="icon-indent glyphicon glyphicon-triangle-bottom" aria-hidden="true"
        data-ng-click="hide@page.name = false" data-ng-show="hide@page.name"></span>
    }
    <div data-ng-hide="hide@page.name || action.length('@page.model.name')">
        @if(page.model.parentLink.isEmpty) {
            <div class="text-center">
                <div class="alert alert-warning col-sm-6 col-sm-offset-3" role="alert">
                    <span data-ng-show="filterString">
                        <p><strong>No Records Found Using Filter:</strong> {{filterString}}</p>
                        <hr>
                        <button data-ng-click="searchController.turnSearchOn()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                            Search Again
                        </button>
                    </span>
                    <span data-ng-hide="filterString"><strong>No Records in Database</strong></span>
                </div>
            </div>
        } else {
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="action.insert('@page.model.name')">
                <span class="glyphicon glyphicon-plus"></span>
                Insert New @page.title
            </button>
        }
    </div>
    <div data-ng-show="action.length('@page.model.name')">
        <div data-ng-hide="hide@page.name">
            <div class="form-group">
                @if(page.model.allowInsert) {
                    <button type="button" class="btn btn-primary btn-xs"
                    data-ng-click="action.insert('@page.model.name')"
                    data-ng-disabled="TopPageForm.$invalid">
                        <span class="glyphicon glyphicon-plus"></span>
                        Insert
                    </button>
                }
                @if(page.model.allowDelete) {
                    <button type="button" class="btn btn-danger btn-xs"
                    data-ng-click="action.delete('@page.model.name')"
                    data-ng-disabled="!action.deleteEnabled('@page.model.name')">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                }
            <button type="button" class="btn btn-xs"
            data-ng-click="action.previous('@page.model.name')"
            data-ng-disabled="current.sets.@(page.model.name).currentIndex == 0 || TopPageForm.$invalid">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Previous
            </button>
            <button type="button" class="btn btn-xs"
            data-ng-click="action.next('@page.model.name')"
            data-ng-disabled="current.sets.@(page.model.name).currentIndex == current.sets.@(page.model.name).rows.length - 1 || TopPageForm.$invalid">
                Next
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
                @if(page.hasFormView || page.hasTableView) {
                    <button type="button" class="btn btn-default btn-xs" data-ng-click="PageCursor.sections.@(page.name).viewMode = 'table'"
                    data-ng-show="PageCursor.sections.@(page.name).viewMode !== 'table'">
                        <span class="glyphicon glyphicon-th"></span>
                        Table View
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-ng-click="PageCursor.sections.@(page.name).viewMode = 'form'"
                    data-ng-show="PageCursor.sections.@(page.name).viewMode !== 'form'">
                        <span class="glyphicon glyphicon-file"></span>
                        Form View
                    </button>
                }
            <span class="instance-count" data-ng-show="current.sets.@(page.model.name).rows.length > 0">
                <span data-ng-bind="current.sets.@(page.model.name).currentIndex + 1"></span> of <span
            data-ng-bind="current.sets.@(page.model.name).rows.length"></span>
            </span>
            </div>

            <div class="" data-ng-if="PageCursor.sections.@(page.name).viewMode === 'table'" data-ng-click="chooseModel('@page.model.name')">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            @for(field <- page.fields) {
                                @if(field.showInTableView) {
                                    <th>@field.label</th>
                                }
                            }
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="row in current.sets.@(page.model.name).rows"
                            data-ng-click="action.select('@page.model.name', $index)"
                            data-ng-dblclick="PageCursor.sections.@(page.name).viewMode = 'form'"
                            data-ng-class="{success: row.id === current.instances.@(page.model.name).id}">
                            @for(field <- page.fields) {
                                @if(field.showInTableView) {
                                    <td class="text-display">
                                        <span class="text-view" data-ng-bind="row.data.@(field.name) @if(field.filter.isDefined){ | @field.filter}"></span>
                                    </td>
                                }
                            }
                            </tr>
                            <tr data-ng-hide="current.sets.@(page.model.name).rows.length">
                                <td colspan="@page.fieldLengthInTableView">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" data-ng-if="PageCursor.sections.@(page.name).viewMode === 'form'" data-ng-click="chooseModel('@page.model.name')">
            @if(page.hasNavigation) {
                <div class="col-sm-3 hidden-xs">
                    <table class="table table-bordered col-sm-4">
                        <thead>
                            <tr>
                            @for(field <- page.fields) {
                                @if(field.showInNavigation) {
                                    <th>@field.label</th>
                                }
                            }
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="row in current.sets.@(page.model.name).rows"
                            data-ng-click="action.select('@page.model.name', $index)"
                            data-ng-class="{success: row.id === current.instances.@(page.model.name).id}">
                            @for(field <- page.fields) {
                                @if(field.showInNavigation) {
                                    <td data-ng-bind="row.data.@(field.name) @if(field.filter.isDefined){ | @field.filter}" class="nav"/>
                                }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-9">
                @desktop.page.form_view(page)
                </div>
            } else {
                <div class="col-xs-12">
                @desktop.page.form_view(page)
                </div>
            }

            </div>
        </div>

        @for(childPage <- page.children) {
            @desktop.page.page_view(childPage, depth + 1)
        }
    </div>
</div>