@(page: com.tantalim.models.PageSection)
@import data.ComparatorByDataType
<div id="search-view" data-ng-show="SmartPage.showSearch">
    <h2>
        @page.title
    <small>Search</small>
    </h2>
    <div class="page-nav navbar navbar-inverse navbar-fixed-bottom">
        <button data-ng-click="SmartPage.turnSearchOff()" class="btn btn-default">
            <i class="fa fa-times"></i>
            Cancel
        </button>
        <button data-ng-click="runSearch()" class="btn btn-success" data-ng-disabled="!filterValues">
            <i class="fa fa-search"></i>
            Search
        </button>
    </div>

    <form class="form-horizontal">
        <div class="form-group col-xs-8">
            <label>Advanced Query Language</label>
            <textarea class="form-control" rows="3" data-ng-model="filterString"></textarea>
        </div>

        @for(field <- page.fields) {
            @if(field.searchable) {
                <div class="form-group col-xs-12">
                    <label for="search-@field.name" class="col-xs-2 control-label">@field.label</label>

                    @if(field.isBoolean) {
                        <div class="col-xs-6">
                            <div class="btn-group" role="group" ng-init="filterComparators.@field.name = 'Equals'">
                                <button type="button" class="btn btn-default"
                                data-ng-class="{'btn-primary': filterValues.@field.name === null}"
                                data-ng-click="filterValues.@field.name = null">Any</button>
                                <button type="button" class="btn btn-default"
                                data-ng-class="{'btn-primary': filterValues.@field.name === 'true'}"
                                data-ng-click="filterValues.@field.name = 'true'">Yes</button>
                                <button type="button" class="btn btn-default"
                                data-ng-class="{'btn-primary': filterValues.@field.name === 'false'}"
                                data-ng-click="filterValues.@field.name = 'false'">No</button>
                            </div>
                        </div>
                    } else {
                        <div class="col-xs-2">
                            <select class="form-control" id="search-@field.name-compare"
                            ng-model="filterComparators.@field.name">
                            @for(comparator <- ComparatorByDataType.get(field.modelField.basisColumn.dataType)) {
                                <option>@comparator</option>
                            }
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="search-@field.name" ng-model="filterValues.@field.name">
                        </div>
                        <div>
                            <button class="btn" ng-show="filterValues.@field.name" ng-click="filterValues.@field.name = ''">Clear</button>
                        </div>
                    }
                </div>
            }
        }
    </form>
</div>