@(section: com.tantalim.models.PageSection, depth: Int)

<div id="@section.name" class="childSection">
    @if(section.sections.nonEmpty || (section.hasSibling)) {
        <span class="icon-indent glyphicon glyphicon-triangle-right" aria-hidden="true"
        data-ng-click="hide@section.name = true" data-ng-hide="hide@section.name"></span>
        <span class="icon-indent glyphicon glyphicon-triangle-bottom" aria-hidden="true"
        data-ng-click="hide@section.name = false" data-ng-show="hide@section.name"></span>
    }
    <h2>@section.title</h2>

    <nav data-ng-hide="hide@section.name" class="no-select">
        <div data-ng-hide="SmartPage.getSection('@(section.name)').getCurrentSet().rows.length">
        @if(section.model.allowInsert) {
            <button type="button" class="btn btn-primary btn-sm" data-ng-click="SmartPage.getSection('@(section.name)').getCurrentSet().insert()">
                <span class="glyphicon glyphicon-plus"></span>
                Insert New @section.title
            </button>
        } else {
            <span>No @section.title found</span>
        }
        </div>
        <ul class="nav navbar-nav" data-ng-show="SmartPage.getSection('@(section.name)').getCurrentSet().rows.length">
            @if(section.model.allowInsert) {
                <button type="button" class="btn btn-primary btn-xs"
                data-ng-click="SmartPage.getSection('@(section.name)').insert()"
                data-ng-disabled="TopPageForm.$invalid">
                    <span class="glyphicon glyphicon-plus"></span>
                    Insert
                </button>
            }
            @if(section.model.allowDelete) {
                <button type="button" class="btn btn-danger btn-xs"
                data-ng-click="SmartPage.getSection('@(section.name)').delete()"
                data-ng-enabled="SmartPage.getSection('@(section.name)').deleteEnabled()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-xs"
            data-ng-click="SmartPage.previousPage()"
            data-ng-show="SmartPage.showPagingOnSection('@(section.name)')"
            data-ng-disabled="SmartPage.page() <= 1 || TopPageForm.$invalid">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Previous Page
            </button>
            <button type="button" class="btn btn-xs"
            data-ng-click="SmartPage.getSection('@(section.name)').moveToPreviousRow()"
            data-ng-disabled="!SmartPage.getSection('@(section.name)').getCurrentSet().hasPrevious() || TopPageForm.$invalid">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Previous
            </button>
            <span class="instance-count" data-ng-show="SmartPage.getSection('@(section.name)').getCurrentSet().rows.length > 0">
                <span data-ng-bind="SmartPage.getSection('@(section.name)').getCurrentSet().index + 1"></span>
                of <span data-ng-bind="SmartPage.getSection('@(section.name)').getCurrentSet().rows.length"></span>
            </span>
            <button type="button" class="btn btn-xs"
            data-ng-click="SmartPage.getSection('@(section.name)').moveToNextRow()"
            data-ng-disabled="!SmartPage.getSection('@(section.name)').getCurrentSet().hasNext() || TopPageForm.$invalid">
                Next
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="button" class="btn btn-xs"
            data-ng-click="SmartPage.nextPage()"
            data-ng-show="SmartPage.showPagingOnSection('@(section.name)')"
            data-ng-disabled="SmartPage.page() >= SmartPage.maxPages || TopPageForm.$invalid">
                Next Page
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <span class="instance-count"
            data-ng-show="SmartPage.showPagingOnSection('@(section.name)')"
            >
                Page <span data-ng-bind="SmartPage.page()"></span>
                of <span data-ng-bind="SmartPage.maxPages"></span>
            </span>

            @if(section.hasTableView && section.hasFormView) {
                <button type="button" class="btn btn-default btn-xs" data-ng-click="SmartPage.getSection('@(section.name)').toggleViewMode()"
                data-ng-show="SmartPage.getSection('@(section.name)').viewMode !== 'table'">
                    <span class="glyphicon glyphicon-th"></span>
                    Table View
                </button>
                <button type="button" class="btn btn-default btn-xs" data-ng-click="SmartPage.getSection('@(section.name)').toggleViewMode()"
                data-ng-show="SmartPage.getSection('@(section.name)').viewMode !== 'form'">
                    <span class="glyphicon glyphicon-file"></span>
                    Form View
                </button>
            }
        </ul>
    </nav>

    <div class="sectionContent" data-ng-show="SmartPage.getSection('@(section.name)').getCurrentSet().rows.length">
        <div data-ng-hide="hide@section.name">
            <div class="" data-ng-if="SmartPage.getSection('@(section.name)').viewMode === 'table'" data-ng-click="SmartPage.focus(SmartPage.getSection('@(section.name)'))">
            @desktop.page.grid_view(section, depth)
            </div>

            <div class="row" data-ng-if="SmartPage.getSection('@(section.name)').viewMode === 'form'" data-ng-click="SmartPage.focus(SmartPage.getSection('@(section.name)'))">
            @if(section.hasNavigation) {
                <div class="col-sm-3 hidden-xs">
                    <table class="tnt-grid table table-bordered col-sm-4">
                        <thead>
                            <tr>
                            @for(field <- section.fields) {
                                @if(field.showInNavigation) {
                                    <th>@field.label</th>
                                }
                            }
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="row in SmartPage.getSection('@(section.name)').getCurrentSet().rows"
                            data-ng-click="SmartPage.getSection('@(section.name)').getCurrentSet().moveTo($index)"
                            data-ng-class="{success: row.id === SmartPage.getSection('@(section.name)').getCurrentSet().getInstance().id}">
                            @for(field <- section.fields) {
                                @if(field.showInNavigation) {
                                    <td data-ng-bind="row.data.@(field.name) @if(field.filter.isDefined) { | @field.filter}" class="nav"/>
                                }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-9">
                @desktop.page.form_view(section, depth)
                </div>
            } else {
                <div class="col-xs-12">
                @desktop.page.form_view(section, depth)
                </div>
            }

            </div>
        </div>

        @for(childSection <- section.sections) {
            @desktop.page.section(childSection, 0)
        }
    </div>
</div>