@(page: com.tantalim.models.PageSection, depth: Int)
@import com.tantalim.models.FieldDisplay

@for(field <- page.fields) {
    @if(field.showInFormView) {
        <div class="form-group col-xs-@field.columnSize" ng-class="{'has-error': TopPageForm.@(field.name).$invalid}">
        @field.fieldType match {
            case FieldDisplay.Text => {
                <tnt-textbox label="@field.label"
                current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                name="@field.modelField.name" placeholder="@field.placeholder" disabled="@field.disabled"
                    @if(field.required) {
                        required="true" }
                >
                    @if(field.help.nonEmpty) {
                        <tnt-help label="@field.label">@field.help</tnt-help>
                    }
                    @if(field.links.nonEmpty) {
                        <tnt-links>
                        @for(link <- field.links) {
                            <tnt-link target="@link.page.name" filter="@link.filter" section="@page.name" label="@link.page.title"></tnt-link>
                        }
                        </tnt-links>
                    }
                </tnt-textbox>
            }
            case FieldDisplay.Select => {
                @defining(field.select.get) { select =>
                    <tnt-select
                    label="@field.label"
                    current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                    source-model="@select.model"
                    source-field="@select.sourceField"
                    source-filter="@select.filter"
                    target-id="@select.targetID.getOrElse("")"
                    target-field="@(field.name)"
                    other-mappings="@Html(select.fields.toString())"
                    >
                    @if(field.links.nonEmpty) {
                        <tnt-links>
                        @for(link <- field.links) {
                            <tnt-link target="@link.page.name" filter="@link.filter" section="@page.name" label="@link.page.title"></tnt-link>
                        }
                        </tnt-links>
                    }
                    </tnt-select>
                }
            }
            case FieldDisplay.Checkbox => {
                <tnt-checkbox label="@field.label" current-instance="SmartPage.getSection('@(page.name)', @depth).getCurrentSet().getInstance()"
                required="@(field.required)" target-field="@(field.name)">
                @if(field.help.nonEmpty) {
                    <tnt-help label="@field.label">@field.help</tnt-help>
                }
                </tnt-checkbox>
            }
            case _ => {
                <div>THIS FIELD TYPE IS NOT SUPPORTED YET</div>
            }
        }
        </div>
    }
}
