@(page: Page)
@import models.Page

@for(field <- page.fields) {
    @if(field.showInFormView) {
        <div class="form-group" ng-class="{'has-error': TopPageForm.(@field.name).$invalid}">
            {{#fieldType fieldType 'text'}}
            <label class="control-label" for="(@page.model.name)-(@field.name)">{{label}}</label>
            <input type="text" class="form-control" id="(@page.model.name)-(@field.name)" name="(@field.name)"
            data-ng-model="current.instances.(@page.model.name).data.(@field.name)"
            ng-change="rowChanged(current.instances.(@page.model.name))"
            {{#if blurFunction}}ng-blur="{{blurFunction}}"{{/if}}
            {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
            {{#if required}}ng-required="current.instances.(@page.model.name)"{{/if}}
            {{#if disabled}}disabled{{/if}}
            {{#if help}}aria-describedby="help-(@page.model.name)-(@field.name)"{{/if}}
            >
            {{#links}}<a href="" data-ng-click="link('{{page}}', '{{filter}}', '(@page.model.name)')">{{title}}</a>{{/links}}
            {{#if help}}<span id="help-(@page.model.name)-(@field.name)" class="help-block">{{help}}</span>{{/if}}
            {{/fieldType}}
            {{#fieldType fieldType 'select'}}
            <label class="control-label" for="(@page.model.name)-{{fieldName}}">{{label}}</label>
            <ui-select
            current="current.instances.(@page.model.name).data"
            item-model="{{select.model}}"
            item-value="{{select.sourceValue}}"
            item-where="{{json select.where}}"
            instance-model="(@page.model.name)"
            instance-key="{{select.targetID}}"
            instance-value="{{fieldName}}"
            other-mappings="{{json this.select.otherMappings}}"
            ></ui-select>
            {{/fieldType}}
            {{#fieldType fieldType 'checkbox'}}
            <div class="checkbox">
                <label class="control-label" class="ui-checkbox" for="(@page.model.name)-{{fieldName}}">
                    <input type="checkbox" id="(@page.model.name)-{{fieldName}}"
                    data-ng-model="current.instances.(@page.model.name).data.{{fieldName}}"
                    ng-change="rowChanged(current.instances.(@page.model.name), '{{fieldName}}')">
                    @field.label
                </label>
            </div>
            {{/fieldType}}
        </div>
    }
}
