@(menu: Menu, user: User, artifactList: Seq[ArtifactStub])(implicit flash: Flash)
@import models.ArtifactStub
@import models.Menu
@import models.User
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Tantalim Import</title>
        <link rel="stylesheet" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/tantalim-client/public/css/common.css")">
    </head>
    <body>
        @desktop.menu(menu, user)
        <section class="content container">
            <h1>Import Artifacts</h1>

            @flash.get("success").getOrElse("")

            <table class="table table-hover col-md-6">
                <thead>
                    <tr>
                        <th>Artifact Type</th>
                        <th>Artifact Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(artifact <- artifactList) {
                    @helper.form(action = routes.Application.importArtifact(artifact.artifactType.toString, artifact.name)) {
                        <tr>
                            <td>@artifact.artifactType</td>
                            <td>@artifact.name</td>
                            <td><button class="btn btn-primary btn-xs">Import</button></td>
                        </tr>
                    }
                }
                </tbody>
            </table>

        </section>
            <!-- Bootstrap JS -->
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery/dist/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/dist/js/bootstrap.js")"></script>
    </body>
</html>

